body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
    font-weight: 400;
}

main{
    background-color: hsl(0, 0%, 12%);
    width: 15%;
    min-width: 370px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding-block: 30px;
}

#imgP {
    background-image: url("./assets/images/avatar-jessica.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

p {
    text-align: center;
    color: hsl(0, 0%, 100%);
}

#name {
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 0;
}

#location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: 29px;
}

button {
    width: 80%;
    align-self: center;
    margin-block: 6px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-weight: bolder;
}

button:hover {
    background-color: dimgray;
    cursor: help;
}

footer {
    margin-bottom: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(0, 0%, 20%);
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
